---
import "../styles/global.css";
import Affiche from "../assets/img/affiche.webp";
import AfficheDesktop from "../assets/img/affichedesktop.webp";
import cinemaPleinAir from "../assets/img/cinemaPleinAir.webp";
import Button from "../components/Button.astro";
import Cardprincipal from "../components/Cardprincipal.astro";
import { Picture } from "astro:assets";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <div class="bg-[var(--color-beige)] flex justify-center items-center py-10">
      <h1 class="text-[var(--color-violet-obscure)] text-[74px]/20">
        FESTIVAL FLASH <br />CINÉMA 25
      </h1>
    </div>
    <figure class="w-full">
      <Picture
        class="block w-full object-cover h-200 md:hidden"
        src={Affiche}
        alt="Representation of a cinema festival"
      />
      <Picture
        class="hidden md:block w-full object-cover h-200"
        src={AfficheDesktop}
        alt="Representation of a cinema festival (desktop version)"
      />
    </figure>
  </div>

  <div>
    <p>Une scène pour le cinèma des court metrages</p>
    <h2>
      "LE COURT-MÉTRAGE : DE RACONTER <span class="text-[var(--color-vert)]"
        >GRAND EN PEU</span
      > DE TEMPS."
    </h2>
    <Button href="/reservation" variant="violet">RÉSERVEZ VOS TICKETS !</Button>
  </div>

  <div>
    <h2>FLASH CINÉMA 25</h2>
    <p>
      "Laissez-vous emporter par les idées brillantes de créateurs audacieux à
      travers une sélection de courts-métrages. Respirez l'air pur, créez des
      souvenirs et partagezvotre passion du cinéma avec d'autres."
    </p>
  </div>

  <div>
    <figure class="w-full">
      <Picture
        class="block w-full object-cover md:hidden"
        src={cinemaPleinAir}
        alt="Representation of a cinema festival"
      />
    </figure>
  </div>

  <div>
    <!-- image -->
    <Button href="/invites" variant="violet">EN SAVOIR PLUS</Button>
  </div>

  <div class="bg-[var(--color-beige)] p-6 text-black">
    <h2>"DECOUVREZ TOUT SUR CINE FLASH 25, A PORTEE DE CLIC! CLIC!"</h2>
    <hr />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <Cardprincipal
        title="Card 1"
        description="Esta es la descripción de la Card 1"
        link="/festival"
      />
      <Cardprincipal
        title="Card 2"
        description="Esta es la descripción de la Card 2"
        link="/programme"
      />
      <Cardprincipal
        title="Card 3"
        description="Esta es la descripción de la Card 2"
        link="/invites"
      />
      <Cardprincipal
        title="Card 4"
        description="Esta es la descripción de la Card 2"
        link="/reservation"
      />
      <Cardprincipal
        title="Card 4"
        description="Esta es la descripción de la Card 2"
        link="/participer"
      />
    </div>
  </div>
</Layout>
