---
import Layout from "../layouts/Layout.astro";
import Star from "../assets/icons/Star.svg";
---

<Layout>
  <h1>PARTICIPEZ AVEC VOS OEUVRES</h1>
  <Star />

  <h1>image</h1>

  <div class="px-20">
    <h3 class="flex justify-center text-center uppercase">
      “Le comité de sélection, fort de son expertise, détermine la catégorie la
      plus appropriée pour chaque film “
    </h3>
  </div>

  <div>
    <p>Pour participer avec votre film, vous devez :</p>
    <ul class="list-disc list-inside">
        <li>Respecter les conditions de présélection</li>
        <li>Remplir le formulaire d’inscription en ligne</li>
        <li>Télécharger en ligne pour les courts metrages</li>
        <li>Envoyer votre court metrage à l’adresse indiquée à la fin du formulaire d’inscription.</li>
        <li>Si votre film est sélectionné, vous devrez respecter le règlement du Festival Flash cinéma 25</li>
    </ul>
    <div class="flex justify-center bg-[var(--color-violet)] p-4">
        <p class="uppercase text-white text-sm font-semibold">S'inscrire pour l'année 2025</p>
    </div>

    <div class="bg-[var(--color-beige)] p-4">
        <h3>CONDITION COURT METRAGE</h3>
        <hr>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
  </div>
</Layout>
