---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Politiques de confidentialité</h1>
  <p>
    Introduction Festival Flash cinéma 25 s'engage à protéger la vie privée des
    utilisateurs de son site web et de toutes les personnes qui interagissent
    avec le festival. Cette politique de confidentialité détaille la manière
    dont nous collectons, utilisons, protégeons et divulguons vos données
    personnelles. Quelles données personnelles collectons-nous ? Nous pouvons
    collecter les données personnelles suivantes : Données d'identification:
    Nom, prénom, adresse électronique, numéro de téléphone, adresse postale.
    Données de participation: Films présentés, synopsis, équipe technique, liens
    vers des échantillons, biographies. Données techniques: Adresse IP, type de
    navigateur, système d'exploitation, pages visitées. Données d'interaction:
    Informations sur la façon dont vous interagissez avec notre site web et nos
    communications (par exemple, clics sur les liens, ouverture des e-mails).
    Données de paiement: Si vous effectuez un achat, nous pouvons collecter vos
    informations de paiement (numéro de carte de crédit, date d'expiration,
    etc.). À quelles fins utilisons-nous vos données ? Vos données personnelles
    sont utilisées pour : Gérer votre participation: Traiter votre inscription,
    évaluer votre film, communiquer avec vous sur l'état de votre participation
    et le déroulement du festival. Organiser le festival: Élaborer le programme,
    gérer les projections, organiser les événements parallèles. Communication:
    Vous envoyer des informations sur le festival, nos partenaires, nos
    événements et toute autre information pertinente. Marketing: Personnaliser
    nos communications et vous proposer des offres personnalisées. Amélioration
    de nos services: Analyser vos interactions avec notre site web pour
    améliorer nos services et l'expérience utilisateur. Conformité légale: Nous
    pouvons utiliser vos données pour nous conformer à nos obligations légales.
    Comment protégeons-nous vos données ? Nous mettons en œuvre des mesures de
    sécurité techniques et organisationnelles appropriées pour protéger vos
    données personnelles contre tout accès non autorisé, toute altération,
    divulgation ou destruction. Ces mesures incluent :   Cryptage: Vos données
    sont cryptées pendant la transmission et au repos. Contrôles d'accès:
    L'accès à vos données est limité aux personnes autorisées et nécessite des
    identifiants uniques. Sauvegardes régulières: Nous effectuons des
    sauvegardes régulières de vos données pour assurer leur récupération en cas
    de perte. Avec qui partageons-nous vos données ? Nous ne partageons pas vos
    données personnelles avec des tiers, sauf dans les cas suivants :
    Prestataires de services: Nous pouvons partager vos données avec des
    prestataires de services qui nous aident à organiser le festival (par
    exemple, hébergeur, plateforme de paiement). Partenaires: Nous pouvons
    partager vos données avec nos partenaires pour des raisons de co-marketing
    ou de promotion du festival. Obligation légale: Nous pouvons être tenus de
    divulguer vos données en réponse à une demande légale ou pour nous conformer
    à une obligation légale. Vos droits Conformément à la réglementation en
    vigueur, vous disposez des droits suivants : Droit d'accès: Vous pouvez
    accéder à vos données personnelles et obtenir une copie. Droit de
    rectification: Vous pouvez demander la rectification de toute donnée
    personnelle inexacte. Droit d'effacement: Vous pouvez demander l'effacement
    de vos données personnelles, dans certaines conditions. Droit d'opposition:
    Vous pouvez vous opposer au traitement de vos données personnelles, pour des
    motifs légitimes. Droit à la limitation: Vous pouvez demander la limitation
    du traitement de vos données personnelles.   Droit à la portabilité: Vous
    pouvez demander à recevoir vos données personnelles dans un format
    structuré, couramment utilisé et lisible par machine. Pour exercer ces
    droits, vous pouvez nous contacter à l'adresse suivante :
    festivalFlashCinema25@gamil.com Cookies Notre site utilise des cookies. Un
    cookie est un petit fichier texte déposé sur votre ordinateur lors de la
    visite de notre site. Les cookies nous permettent de : Améliorer votre
    expérience de navigation Mémoriser vos préférences Compiler des statistiques
    Vous pouvez configurer votre navigateur pour accepter ou refuser les
    cookies. Modifications de la politique de confidentialité Nous nous
    réservons le droit de modifier à tout moment la présente politique de
    confidentialité. Toute modification sera effective dès sa publication sur
    notre site.   Contact Si vous avez des questions concernant cette politique
    de confidentialité, n'hésitez pas à nous contacter à l'adresse suivante :
    festivalFlashCinema25@gamil.com
  </p>
</Layout>
