---
import Layout from "../layouts/Layout.astro";
import Cardfilms from "../components/Cardfilms.astro";
import Button from "../components/Button.astro";
import { AllFilmsProjection } from "../js/backend.js";

const url = new URL(Astro.request.url);
const sort = url.searchParams.get("sort") || "asc";
const category = url.searchParams.get("category") || "all";

let events = await AllFilmsProjection();

const sortedEvents = events.sort((a, b) => {
  if (sort === "asc") {
    return new Date(a.date_film) - new Date(b.date_film);
  } else {
    return new Date(b.date_film) - new Date(a.date_film);
  }
});

const categories = [...new Set(events.map((event) => event.genre_film))];

// Filtra según la categoría seleccionada
const filteredEvents = sortedEvents.filter(
  (event) => category === "all" || event.genre_film === category
);
---

<Layout>
  <div class="">
    <div class="bg-[var(--color-violet-obscure)] py-5 lg:py-10">
      <h1 class="text-[80px]/18 text-white">PROGRAMME 2025</h1>
    </div>

    <div class="flex pt-10 pl-10">
      <form method="GET" class="mb-6 flex gap-4">
        <div>
          <label for="sort" class="mr-2 font-bold">Trier par date:</label>
          <select name="sort" id="sort" class="p-2 border rounded">
            <option value="asc" selected={sort === "asc"}>Date plus loin</option
            >
            <option value="desc" selected={sort === "desc"}
              >Date plus proche</option
            >
          </select>
        </div>

        <div>
          <label for="category" class="mr-2 font-bold">Categorie:</label>
          <select name="category" id="category" class="p-2 border rounded">
            <option value="all" selected={category === "all"}>Tous</option>
            {
              categories.map((c) => (
                <option value={c} selected={category === c}>
                  {c}
                </option>
              ))
            }
          </select>
        </div>

        <button
          type="submit"
          class="ml-4 px-10 bg-[var(--color-violet-obscure)] text-white rounded-4xl"
          >Filtrer</button
        >
      </form>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {filteredEvents.map((event) => <Cardfilms {...event} />)}
    </div>
  </div>

  <div class="bg-[var(--color-violet-fonce)] p-10 *:py-3">
    <h2 class="text-white text-[36px]/10 uppercase pr-10">
      si vous souhaitez participer au festival, inscrivez-vous !
    </h2>
    <div>
      <Button href="/participer" variant="beige">En savoir plus</Button>
    </div>
  </div>
</Layout>
