---
const { ...reservation } = Astro.props;
import ImagePB from "./ImagePB.astro";
import Button from "../components/Button.astro";
---

<div class="flex flex-col justify-center text-cente items-centerr">
<div class="flex *:py-6 px-6">
  <div>
    <ImagePB
      record={reservation}
      field="img_film"
      alt={reservation.imgAlt}
      classPicture="duotone col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
      classImg="group-hover:grayscale-0 group-hover:mix-blend-normal w-[172px] lg:w-[171px] h-[171px] object-cover"
    />
  </div>
  <div class="">
    <p>{reservation.titre_film}</p>
    <p>
      Film de{" " + reservation.expand?.invite.prenom_invite + " " + reservation.expand?.invite.nom_invite}
    </p>
  </div>
</div>
    <div class="flex justify-center py-4">
        <Button href={`reservation/${reservation.id}`} variant="violet">Réserver</Button>
    </div>
</div>
<hr>

