---
import Button from "./Button.astro";
import cinemaPleinAir from "../assets/img/cinemaPleinAir.webp";
import { Picture } from "astro:assets";

const {
  title = "Title",
  description = "Description",
  link = "#",
} = Astro.props;
---

<div class="card p-4 border rounded shadow bg-[var(--color-violet-obscure)]">
  <div class="card-image mb-4">
    <img class="w-full object-cover" />
  </div>
  <div class="card-content">
    <h2 class="text-xl mb-2 text-white">{title}</h2>
    <p class="text-sm text-white">{description}</p>
  </div>
  <div class="card-action mt-4">
    <a>
        <Button href={link} variant="beige">Réserver</Button>
    </a>
  </div>
</div>
